* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
div {
  border: 2px solid brown;
} */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.App {
  padding: 2%;
  text-align: center;
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.maincontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.menuContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  margin-bottom: 40px;
}
.container {
  display: flex;
  flex-direction: row;
}
.main-item-displayContainer {
  background-color: white;
  border: 3px solid rgb(221, 46, 46);
  margin: 5px;
  border-radius: 10px;
}
.bottom-container {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 2% 5%;
}
.itemContainer {
  display: flex;
  width: 270px;
  padding: 2%;
  margin: 3px;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 55%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemDetails {
  width: 43%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.itemDetails > * {
  font-size: larger;
  margin: 2px;
}
/* 
button {
  align-self: center;
  border: 1px solid red;
  background-color: white;
  border-radius: 5px;
  padding: 2px;
} */
/* .AddItem-container > .add-item-btn {
  flex-grow: 2;
  border: 3px solid khaki;
  height: 80%;
} */

.AddItem-form > *,
.EditItem-form > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2%;
}
.AddItem-container,
.cart-container {
  margin: 0 auto;
  width: 35%;
  border: 1px solid rgb(4, 6, 26);
  background-color: rgb(246, 246, 246);
  padding: 2%;
  border-radius: 15px;
}
.EditItem-container {
  margin: 0 auto;
  width: 100%;
  padding: 2%;
}

input,
select {
  margin: 0px;
  background-color: rgb(255, 255, 255);
}

/* NAV STYLES  */

.nav-btn {
  height: 50px;
  margin: 10px 5px;
  background-color: inherit;
  text-transform: uppercase;
  border-style: outset;
}
.nav-btn > * {
  color: black;
}
a {
  color: whitesmoke;
  text-decoration: none;
}
a:active {
  color: rgb(17, 4, 36);
  /* background-color: rgb(194, 182, 212); */
  text-decoration: none;
}
a:visited {
  text-decoration: underline;
}
a:hover {
  font-weight: bold;
  font-size: large;
  text-shadow: rgb(17, 4, 36);
}
.nav-btn:hover {
  background-color: #fff200;
}
.nav-btn:visited {
  background-color: rgb(1, 1, 12);
}
.empty-display {
  margin-top: 40px;
  font-size: x-large;
  color: gray;
  font-style: oblique;
  font-weight: 100;
}
/* /END OF NAV STYLE */

/* Dropdown Button */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 5px;
}
.dropbtn {
  background-color: red;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: red;
}

.display-container {
  padding-top: 1%;
  width: 65%;
  background-color: rgb(195, 195, 195);
  border-radius: 15px;
}
.dropdown-container {
  width: 100%;
}
.items-display-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
}
.item-qty {
  width: 40px;
  height: 25px;
  margin-left: 0;
}
p {
  margin: 1%;
}
td,
tr > * {
  border: 1px solid black;
}

/* === EDIT ITEM FORM === */
.EditItem-container {
  width: 80%;
  border-radius: 15px;
  background-color: inherit;
  display: flex;
  flex-direction: column;
}
.EditItemForm-container {
  display: flex;
  flex-direction: row;
}

.itemToEditDetails {
  margin: 5px 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.itemToEditDetails > * {
  margin: 8px;
}
.itemToEditDetails > input {
  margin-left: 0px;
}

.editsubmit-btn {
  width: 100%;
  background-color: lightgray;
}
.edit-price-input {
  width: 55px;
}

/* === end of EDIT ITEM FORM === */

/* CART STYLING */
thead,
th,
td,
tfoot {
  border: 2px solid rgb(82, 82, 82);
}
/* 
.cart-items {
  width: 100%;
  display: flex;
  align-items: center;
} */

.cartgrandtotal {
  font-size: x-large;
}
